.wrapper{
    font-family: Arial, Helvetica, sans-serif;
    height: 150vh;
    background-color: rgb(235, 235, 235);
    
   
}
.container{
    padding-top: 120px;
   justify-content: center;
   align-items: center;

}
.image1{
    background-image: linear-gradient(115deg, rgba(71, 90, 84, 0.8),rgba(71, 90, 84, 0.8)),
    url(./35186e76-8c58-4f2f-8693-0cb9fd5b2adf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    width: 75vw;
    height: 30vh;
    margin-left: 156px;
    border-radius:1rem 1rem 0rem 0rem ;
    text-align:inherit;
    padding-bottom: 60px;
}
.image1 p{
    font-size: 40px;
    color: #ffff;
    font-weight: bolder;
    padding-left: 420px;
    padding-top: 127px;
}
.form{
    background-color: #ffff;
    background-position: center;
    height: 70vh;
    width: 75vw;
    margin-left: 156px;
    border-radius: 0rem 0rem 1rem 1rem ;
}
.form_edite{
    text-align: center;
    padding-top: 100px;
    color: rgb(160, 158, 158);
    font-size: 20px;
}
.userName{
    padding-right: 300px;
    padding-bottom: 19px;
    border: none;
    border-bottom: 2px solid rgb(160, 160, 160);
}
input::-webkit-input-placeholder {
    color: rgb(160, 158, 158);
    font-size: 18px;
}
label{
    padding-right: 40px;
    font-weight: 600;
}
.pass{
    padding-right: 300px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid rgb(160, 160, 160);
    
}
.remember{
    margin-left: 350px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
    
}
#Remember{
    color: rgb(160, 158, 158);
    font-weight: 540;
    font-size: 16px;
}
.forget{
    color: rgb(160, 158, 158);
    font-weight: 540;
    font-size: 16px;
    margin-left: 160px;
    text-decoration: none;
}
.buttom{
    margin-left: 350px;
    margin-top: 40px;
}
.login{
    background-color: #49c43e;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 61px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: medium;
}